%nav.clearfix
  %ul.clearfix
    %li.clearfix
      = link_to 'Home', root_path
    %li.clearfix
      = link_to 'Bio', bio_path
    %li.clearfix
      = link_to 'Up Coming', up_coming_path
    %li.clearfix
      = link_to 'Performance', performance_path
    %li.clearfix
      = link_to 'Subscribe', subscribe_path
    %li.clearfix
      = link_to 'Contact', contact_path
