<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rachel Pritzlaff | Time Based Art</title>

    <link href="http://fonts.googleapis.com/css?family=Cardo:400|Josefin+Slab:400" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>

  </head>

  <body class="body clearfix">
    <header class="clearfix">
    <%= link_to 'Rachel Pritzlaff / Time Based Art', root_path %>
    </header>

    <%= render 'shared/nav' %>

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    <div class="main-container">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>

  </body>
</html>
